.container {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  display: flex;
  width: 100%;
  height: 2.5em;
  justify-content: center;
  align-items: center;
}

.nameTask {
  margin-left: 1em;
  width: 33%;
}
.buttonTask {
  display: flex;
  width: 33%;
  justify-content: end;
}
.completionTask {
  width: 33%;
  font-family: "Mooli", sans-serif;
}
.completetionTaskComplete {
  color: #338822;
}
.formEditModal {
  display: flex;
  align-items: center;
  padding: 1em;
  flex-direction: column;
}
.formEditModal h3 {
  color: #a59502;
}
.divInput {
  margin: 1em 1em 2em 0;
}
.divInput label {
  font-size: 20px;
}
.divInput input {
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
.divInput input:focus {
  outline: none;
}
@media screen and (max-width: 960px) {
  .container {
    height: fit-content;
    width: fit-content;
  }
  .buttonTask {
    flex-wrap: wrap;
  }
  .nameTask {
    font-size: 17px;
  }
  .completionTask {
    font-size: 17px;
  }
}
