body {
  margin: 0;
  color: #fff;
  background: #1d1d1d;
  /* 
    FONTS IMPORTED THAT CAN BE USED LATER
  font-family: 'Inclusive Sans', sans-serif;
  font-family: 'Mooli', sans-serif;
  font-family: 'Open Sans', sans-serif; */
}
